<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuaCoin Control Panel</title>
    <link rel="stylesheet" href="/styles">
</head>

<body>
    <h1>QuaCoin</h1>
    <p>Running Ktor inside QuaCoin</p>
    <h2>Summary</h2>
    <p><b>Address: </b>{{holder.address}}</p>
    <p><b>Balance: </b>{{balance}}</p>
    <a class="button_block" href="/transfer">Send</a>
    <a class="button_block" href="/mine">Mine</a>
    <a class="button_block" href="/shutdown">Shutdown</a>
</body>

</html>