<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuaCoin Control panel - Mine</title>
    <link rel="stylesheet" href="/styles">
</head>

<body>
    <h1>Mine</h1>
    <form action="/mine/proceed">
        <label>
            How much blocks?
            <input type="number" name="blocks">
        </label>
        <input type="submit" value="Submit">
        <br>
    </form>
    <b>Submiting may freeze this page for a while</p><a class="button_block" href="/">Cancel</a>
</body>

</html>