<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link rel="stylesheet" href="/styles">
</head>
<body>
    <h1>Success!</h1>
    <p>We done your job to QuaCoin!</p>
    <h2>Summary</h2>
    <p>Transfer: <i>{{transfer}}</i></p>
    <a class="button_block" href="/">Back</a>
</body>
</html>