<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuaCoin Control Panel - Transfer</title>
    <link rel="stylesheet" href="/styles">
</head>
<body>
    <h1>Transfer</h1>
    <form action="/transfer/proceed">
        <label>
            To:
            <input type="text" name="address">
        </label><br>
        <label>
            Amount:
            <input type="number" name="amount">
        </label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>